# If we are a computer with nix-shell available, then use that to setup
# the build environment with exactly what we need.
# from ghostty - https://github.com/ghostty-org/ghostty/tree/main
if has nix; then
    # watch_file nix/{devShell,package}.nix
    use flake
fi

source_env_if_exists .envrc.local
