# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
*.tsbuildinfo

# Test & coverage
coverage/
.vitest/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Mobile
apps/mobile/.expo/
apps/mobile/ios/
apps/mobile/android/
*.ipa
*.apk

# Infra
infra/pulumi/.pulumi/
