init-author-name=Hank
init-license=MIT
init-version=0.1.0
save=true
save-exact=true
save-prefix=^
audit-level=moderate
fund=false
update-notifier=false
registry=https://registry.npmjs.org/
loglevel=warn
editor=nvim
shell=/bin/zsh
